button {
    border-radius: 5px;
    padding: 5px 30px;
    cursor: pointer;
}

.button-addcart {
    background-color: #33a0ff1a;
    color: #33a0ff;
    align-self: center;
    border: 1px solid #ffffff;
    background-image: url('../cart.svg');
    background-position-x: 0.3cm; 
    background-position-y: 0.13cm;
    background-size: 12px;
    background-repeat: no-repeat;
}

.button-cart {
    background-color: #33a0ff1a;
    color: #33a0ff00;
    border: 1px solid #ffffff;
    padding: 10px 15px;
    background-image: url('../cart.svg');
    background-position-x: 0.26cm;
    background-position-y: 0.2cm;
    background-size: 16px;
    background-repeat: no-repeat;
}