.counts {
    display: inline;
    color: #33a0ff;
    font-size: 10px;
    font-weight: bold;
    outline: none;
    border: 2px solid #fafafb;
    background-color: #fafafb;
}

.box {
  background-color:  #fafafb;
  font-size: 12px;
  width: 150px;
}

.counter {
    background-color: #fafafb;
    color: #33a0ff;
}