.redeem {
    color: #ffffff;
    background-color: #33a0ff;
    margin-left: -5px;
    padding: 5px;
    border-left: none;
    border: 2px solid #f1f3f4;
    font-weight: lighter;
    /* font-size: 8px; */
}

input {
    font-size: 10px;
}

.input-voucher {
    padding: 5px;
    background-color: #ffffff;
    border: 2px solid #f1f3f4;
    outline: none;
}

.input-voucher-lg {
    padding: 10px;
    background-color: #ffffff;
}