button {
    border-radius: 2px;
    padding: 5px 25px;
    cursor: pointer;
}

.button-outprimary {
    background-color: #ffffff;
    color: #33A0FF;
    border: 1px solid #33A0FF;
}

.button-outdanger {
    background-color: #ffffff;
    color: #ff4858;
    border: 1px solid #ff4858;
}

.button-outsuccess {
    background-color: #ffffff;
    color: #0ad00a;
    border:  1px solid #0ad00a;
}

.button-outwarning {
    background-color: #ffffff;
    color: #ffc600;
    border: 1px solid #ffc600;
}

.button-outdefault {
    background-color: #ffffff;
    color: #22262a;
    border: 1px solid #22262a; 
}

.button-medium {
    padding: 10px 30px;
}